body {
    
    color: #777777;
    font-family: Times;
   
}
header {
    background-color: #FFFFFF;
    color: #4aaaa5;
    font-family: Times;

    
    
}
.vl {
    border-left: 1px solid lightgray;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: 10px;
    top: 0;
}
.vl2 {
    border-left: 1px solid lightgray;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: 125px;
    top: 0;
}
section {
    background: url('qbkls.png');
    position: relative;
    height: 550px;
    border-top: 2px solid #777777;
    width: auto;
    
        
}
#port {
    background: url('qbkls.png');
    position: relative;
    height: 620px;
    border-top: 2px solid #777777;
   
    
}
.port2 {
    background: url('qbkls.png');
    position: relative;
    height: 520px;
    border-top: 2px solid #777777;
   
    
}
 h1 {
    position: relative;
    top: 24px;
    line-height: 100px;
    width: 300px;
    height: 100px;
    color: #FFFFFF;
    background-color: #777777;
    text-align: center;
    margin-left: 250px;
}
h2 {
    margin-left: 30px;
}
.style {
    border-top: 3px solid #b4b4b4;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.divider {
    position: absolute;
    top: 60px;
    left: 50px;
    width: 500px;
    list-style-type: none;
    margin: 0;
    padding: 0;
        
}
a:link, a:visited {
    display: block;
    width: 120px;
    font-family: 'Times New Roman', Times, serif;
    color: #777777;
    background-color: #FFFFFF;
    float: right;
    padding: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover, a:active {
    background-color: #7A991A;

}
.img-fluid {
    float: left;
    height: 200px;
    width: 200px; 
    padding: 20px;
}
.img-responsive {
    width: 100%;
    height: auto;
}

.desc::after {
        content: "";
        clear: both;
        display: table;
      
}

 .full { 
    position: relative;
    top: -80px; 
    margin: auto;
    background-color: #FFFFFF;
    width: 960px;
    height: 350px;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: #b4b4b4; 
    
}
#container2 {
    position: relative;
    top: 30px;
    margin-left: 300px;
    background-color: #FFFFFF;
    width: 800px;
    height: 500px;
    border-style: solid;
    border-width: 1px;
    border-color: #b4b4b4;
    
}
.card {
    position: relative;
    width: 960px;
    height: auto;
    left: 250px;
    top: 5px;

    
}
#exampleFormControlInput1 {
    position: relative;
    margin-left: 25px;
    width: 900px;
}
#exampleFormControlInput2 {
    position: relative;
    margin-left: 25px;
    width: 900px;
}
form label {
    margin-left: 20px;
}
#sports {
    position: absolute;
    top: 75px;
    margin-left: 15px;
    width: 150px;
    height: 125px;
    z-index: 1;
}
#tech {
    position: absolute;
    top: 243px;
    margin-left: -367px;
    width: 150px;
    height: 125px;
    z-index: 3;
}
#space {
    position: absolute;
    top: -235px;
    margin-left: 316px;
    width: 150px;
    height: 125px;
    z-index: 5;
}
#book {
    position: absolute;
    top: 245px;
    margin-left: -90px;
    width: 150px;
    height: 125px;
    z-index: 9;
}
#music {
    position: absolute;
    top: 75px;
    margin-left: 300px;
    width: 150px;
    height: 125px;
    z-index: 7;
}
.desc {
    position: absolute;
    z-index: 2;
    top: 165px;
    vertical-align: middle;
    line-height: 30px;
    margin-left: 15px;
    background-color: #666666;
    text-align: center;
    vertical-align: middle;
    color: white;
    width: 150px;
    height: 30px;
}
.desc2 {
    position: absolute;
    z-index: 4;
    top: 330px;
    vertical-align: middle;
    line-height: 30px;
    margin-left: -367px;
    background-color: #666666;
    text-align: center;
    vertical-align: middle;
    color: white;
    width: 150px;
    height: 30px;
}
.desc3 {
    position: absolute;
    z-index: 6;
    top: 440px;
    vertical-align: middle;
    line-height: 30px;
    margin-left: 15px;
    background-color: #666666;
    text-align: center;
    vertical-align: middle;
    color: white;
    width: 150px;
    height: 30px;
}
.desc4 {
    position: absolute;
    z-index: 8;
    top: 190px;
    vertical-align: middle;
    line-height: 30px;
    margin-left: -80px;
    background-color: #666666;
    text-align: center;
    vertical-align: middle;
    color: white;
    width: 150px;
    height: 30px;
}
.desc5 {
    position: absolute;
    z-index: 10;
    top: -290px;
    vertical-align: middle;
    line-height: 30px;
    margin-left: 600px;
    background-color: #666666;
    text-align: center;
    vertical-align: middle;
    color: white;
    width: 150px;
    height: 30px;
}
.inputs {
    width: 500px;
}
textarea {
    width: 500px;
    height: 150px;
  }
  .button{
    background-color: #666666;
    font-size: 10px;
    width: 80px;
    height: 35px;
    margin: 4px 2px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;  
  }
  .row {
    min-height:100%;
    position:relative;
    }
.footer {
  position: fixed;
  background-color: #666666;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  text-align: center;
  padding-top: 40px;
  color: #FFFFFF;
  border-top: 6px solid #b4b4b4;

}

